[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=gitlab
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/nvm/versions/node/v12.18.2/bin:/usr/local/nvm/versions/node/v12.18.2/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/home/gitlab/.pm2
#PIDFile=/home/gitlab/.pm2/pm2.pid
Restart=on-failure

ExecStart=/var/www/current/service.sh
#ExecStart=/usr/local/nvm/versions/node/v12.18.2/bin/yarn --cwd=/var/www/current exec pm2 resurrect
ExecReload=/var/www/current/service.sh
#ExecReload=/usr/local/nvm/versions/node/v12.18.2/bin/yarn --cwd=/var/www/current pm2:start
ExecStop=/usr/local/nvm/versions/node/v12.18.2/bin/pm2 kill
#ExecStop=/usr/local/nvm/versions/node/v12.18.2/bin/yarn --cwd=/var/www/current pm2:kill

[Install]
WantedBy=multi-user.target
